<form class="form" autocomplete="off" #loginForm="ngForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="mat-form-field">
    <mat-label>Email</mat-label>
    <input type="email" placeholder="example@gmail.com" name="email" matInput ngModel required/>
  </mat-form-field>

  <mat-form-field class="mat-form-field">
    <mat-label>Password</mat-label>
    <input type="password" name="password" matInput ngModel required/>
  </mat-form-field>

  <button mat-raised-button type="submit" [disabled]="!loginForm.valid">
    Sign in
  </button>

  <p style="color: white;">Non hai un account, <a class="link" (click)="onClickLink()">clicca qui per creare un nuovo account.</a></p>
</form>

<span matSnackBarActions class="snack-bar"></span>
