<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened style="background-color:#1f1f23">
    <mat-list role="list" class="list">
      <mat-list-item
        role="listitem"
        class="list-item"
        routerLink="page1"
        [routerLinkActive]="'active'"
        >Page 1</mat-list-item
      >
      <mat-list-item
        role="listitem"
        class="list-item"
        routerLink="page2"
        [routerLinkActive]="'active'"
        >Page 2</mat-list-item
      >
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content style="background-color: #000000 ;">
    <mat-toolbar style="background-color: #18181b;">
      <span class="example-spacer"></span>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with share icon"
        (click)="onClick()"
      >
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
